---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";

import { Image } from 'astro:assets';

import hero from '../../assets/hero.svg';
import heroDark from '../../assets/hero-dark.svg';
---

<div class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000">
  <div class="min-h-screen w-full max-w-7xl mx-auto flex items-center px-4">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-5">
        <div class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-8 ltablet:mb-0 lg:mb-0">
          <div class="text-center ltablet:text-left lg:text-left font-sans space-y-4">
            <h1 class="font-medium text-4xl ptablet:text-5xl lg:text-5xl text-muted-800 dark:text-white">
              Build a modern movement.
            </h1>
            <p class="text-lg text-muted-500 dark:text-muted-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc
              incredibile, quod beatissimum. Quamquam te quidem video minime
              esse deterritum.
            </p>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 ltablet:col-span-7 lg:col-span-7">
        <Image src={hero} alt="Hero image" class="block dark:hidden w-full ltablet:max-w-[540px] max-w-[620px] mx-auto" />
        <Image src={heroDark} alt="Hero image" class="hidden dark:block w-full ltablet:max-w-[540px] max-w-[620px] mx-auto" />
      </div>
    </div>
  </div>
</div>
