---
import { Image } from 'astro:assets';

import Card from "@components/Card.astro";

import netbsdLogo from "@assets/supporting/NetBSD.png";
import almalinuxLogo from "@assets/supporting/AlmaLinux.png";
import opensuseLogo from "@assets/supporting/OpenSUSE.png";
import elixirLogo from "@assets/supporting/Elixir.png";
---

<div x-cloak class="relative overflow-hidden" x-intersect="activeStep = ''">
    <div x-data="swiper()" class="carousel-container">
        <div class="carousel-controls flex items-center justify-end mb-4">
            <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300"
                @click="swiper.slidePrev()">
                <iconify-icon class="iconify" icon="lucide:arrow-left"></iconify-icon>
            </button>

            <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300"
                @click="swiper.slideNext()">
                <iconify-icon class="iconify" icon="lucide:arrow-right"></iconify-icon>
            </button>
        </div>
        <div class="swiper-container" x-ref="container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <Card class="'p-6'">
                        <div class="w-full flex flex-col gap-8 font-sans">
                            <div class="w-full flex items-center gap-3">
                                <div class="shrink-0 inline-flex relative w-16 h-16">
                                    <Image src={netbsdLogo} alt="NetBSD logo" class="max-w-full" />
                                </div>
                                <div>
                                    <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">NetBSD</h4>
                                </div>
                            </div>
                            <p class="text-muted-500 dark:text-muted-300">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ergo id est convenienter
                                naturae vivere, a natura discedere. Duo Reges:
                                constructio interrete.
                            </p>
                        </div>
                    </Card>
                </div>
                <!-- Slides -->
                <div class="swiper-slide">
                    <Card class="'p-6'">
                        <div class="w-full flex flex-col gap-8 font-sans">
                            <div class="w-full flex items-center gap-3">
                                <div class="shrink-0 inline-flex relative w-16 h-16">
                                    <Image src={almalinuxLogo} alt="AlmaLinux logo" class="max-w-full" />
                                </div>
                                <div>
                                    <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">AlmaLinux</h4>
                                </div>
                            </div>
                            <p class="text-muted-500 dark:text-muted-300">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ergo id est convenienter
                                naturae vivere, a natura discedere. Duo Reges:
                                constructio interrete.
                            </p>
                        </div>
                    </Card>
                </div>
                <!-- Slides -->
                <div class="swiper-slide">
                    <Card class="'p-6'">
                        <div class="w-full flex flex-col gap-8 font-sans">
                            <div class="w-full flex items-center gap-3">
                                <div class="shrink-0 inline-flex relative w-16 h-16">
                                    <Image src={opensuseLogo} alt="OpenSUSE logo" class="max-w-full" />
                                </div>
                                <div>
                                    <h4 class="font-medium text-sm text-muted-800 dark:text-muted-10">OpenSUSE</h4>
                                </div>
                            </div>
                            <p class="text-muted-500 dark:text-muted-300">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ergo id est convenienter
                                naturae vivere, a natura discedere. Duo Reges:
                                constructio interrete.
                            </p>
                        </div>
                    </Card>
                </div>
                <!-- Slides -->
                <div class="swiper-slide">
                    <Card class="'p-6'">
                        <div class="w-full flex flex-col gap-8 font-sans">
                            <div class="w-full flex items-center gap-3">
                                <div class="shrink-0 inline-flex relative w-16 h-16">
                                    <Image src={elixirLogo} alt="Elixir logo" class="max-w-full" />
                                </div>
                                <div>
                                    <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">Elixir</h4>
                                </div>
                            </div>
                            <p class="text-muted-500 dark:text-muted-300">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Ergo id est convenienter
                                naturae vivere, a natura discedere. Duo Reges:
                                constructio interrete.
                            </p>
                        </div>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</div>