---
import { ViewTransitions } from "astro:transitions";

import ThemeToggler from "@components/ThemeToggler.astro";
import Footer from "@components/Footer.astro";

import "@fontsource-variable/inter";
import "swiper/swiper-bundle.css";

import "../styles/main.css";

import { Image } from "astro:assets";

import logoImg from '@assets/corpedo.svg';
---

<!doctype html>
<html lang="en" x-data="theme()" :class="$store.app.isDark ? 'dark' : ''">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="generator" content={Astro.generator} />

        <title>Corpedo</title>

        <ViewTransitions />
    </head>
    <body class="bg-muted-100 dark:bg-muted-1000 " x-data="homeSpy()">
        <div class="flex items-center justify-center gap-5">
            <div class="flex-none">
                <Image src={logoImg} alt="Corpedo logo" class="block mx-auto mt-2 w-52" />
            </div>
            <div class="flex-none">
                <ThemeToggler />
            </div>
        </div>
        
        <slot />

        <Footer />

        <script src="../js/main"></script>
    </body>
</html>